.carousel {
  min-height: 500px;
  height: 100vh;
}

.carousel h2, .carousel p {
  font-family: 'Architects daughter',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.carousel p {
  text-shadow: none;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  padding: 0;
  position: initial;
}

/* Declare heights because of positioning of img element */
.carousel .item {
height: 100vh;
min-height: 500px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-control.right, .carousel-control.left {
  background-image: initial;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-indicators li {
  border-color: black;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-inner .item .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.carousel-control {
  z-index: 10;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

#myCarousel img {
  margin: 25px auto;
  display: block;
  max-height: 120px;
  padding: 0 20px 10px 20px;
}

#myCarousel a i.fa{
  color: black;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption {
    position: relative;
    left: 0;
    right: 0;
  }

  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
    text-shadow: initial;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
