body {
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p, td, th {
	color: black;
	font-family: 'Open sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
}

h2 {
	margin: 10px 0 20px 0;
	font-size: 60px;
}

h3 {
	font-weight: bold;
	text-transform: uppercase;
}

p, td {
	font-size: 16px;
}

td, th {
	padding: 0 10px;
	text-align: left;
}

video {
	width: 100%;
}

td:first-child {
	text-align: right;
}

/*
*		NAVIGATION
*/

.navbar {
	height: 70px;
	padding: 10px 0;
}

ul.nav.navbar-nav.navbar-right {
	margin-right: 10px;
}

ul.nav.navbar-nav.navbar-right.nav-background {
	background: white;
	padding: 10px;
	border-radius: 3px;
	border: 1px solid;
}

.navbar-inverse {
	background-color: transparent;
	border: none;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:hover {
	font-family: 'Open sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 800;
	color: black;
	border: none;
	text-transform: uppercase;
}

.navbar-inverse .collapsed {
	background-color: black;
	border-color: black;
}

.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: black;
	box-shadow: 0px 0px 1px black;
}

.navbar-inverse .navbar-toggle:active {
	box-shadow: inset 0px 0px 5px white;
}

.navbar-nav>li {
	margin-right: 10px;
}

.navbar-nav>li>a {
	background: none;
}

.navbar-nav>li:first-child {
	margin-right: 0;
}

.navbar-nav>li:last-child {
	margin-right: 0;
}

.navbar .container {
	margin: 0;
	padding: 0;
	width: auto;
}

.navbar>.container .navbar-brand {
	font-size: 2em;
	padding: 15px;
	margin-left: 15px;
}


/*
*		JUMBOTRON
*/

#home {
	overflow: hidden;
	background-color: black;
}

#home video {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;
}

#home .container {
	position: absolute;
	top: 0;
}

.jumbotron {
	height: 100vh;
	margin: 0;
	padding: 0
}

.jumbotron > img {
	height: 200px;
	width: 200px;
}

.jumbotron .container h1:first-child, .jumbotron .container p:nth-child(2) {
    -webkit-animation: fadein 15s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 15s; /* Firefox < 16 */
        -ms-animation: fadein 15s; /* Internet Explorer */
         -o-animation: fadein 15s; /* Opera < 12.1 */
            animation: fadein 15s;

	-webkit-animation-delay: 1.5s;
	   -moz-animation-delay: 1.5s;
		-ms-animation-delay: 1.5s;
		 -o-animation-delay: 1.5s;
			animation-delay: 1.5s;
}

.bottom-right-corner {
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 5s; /* Firefox < 16 */
        -ms-animation: fadein 5s; /* Internet Explorer */
         -o-animation: fadein 5s; /* Opera < 12.1 */
            animation: fadein 5s;

	-webkit-animation-delay: 3s;
	   -moz-animation-delay: 3s;
		-ms-animation-delay: 3s;
		 -o-animation-delay: 3s;
			animation-delay: 3s;
}

.jumbotron h1 {
	font-family: 'Open sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	color: white;
	font-size: 8em;
	font-weight: bold;
	color: #e1261c;
	text-transform: uppercase;
}

.jumbotron p {
	color: white;
	font-size: 4em;
	text-transform: lowercase;
}

.jumbotron p img {
	width: 200px;
}

.jumbotron .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

.jumbotron .bottom-right-corner {
	position: absolute;
	right: 20px;
	bottom: -60px;
}

.jumbotron p.bottom-right-corner {
	font-size: 2em;
}

/*
*		WHY section
*/

#why, #how, #what {
	min-height: 100vh;
	padding: 2vh 0;
}

#why img {
	margin: 0 auto;
	display: block;
	max-height: 120px;
	padding: 0 20px 10px 20px;
}

#why .row {
	padding: 20px;
}

.icon {
	font-size: 100px;
	text-align: center;
	display: block;
}

/*
*		HOW section
*/

#paint {
	overflow: hidden;
	height: 100vh;
	z-index: -1;
	max-width: 100%;
}

#how {
	position: absolute;
	left: 50%;
	margin-left: -585px;
	z-index: 5;
}

#how h3, #how p {
	color: white;
	text-shadow: 1px 1px 1px black;
}

/*
*		WHAT section
*/

#what {
	width: initial;
}

#what .row {
	padding: 10px 0;
}

#what .row:first-child .col-md-4 {
	margin-left: 0.5%;
}

#what .img-container {
	display: flex;
	justify-content: center;
}

#what img {
	max-height: 200px;
}

#what h3 {
	text-decoration: underline;
	font-family: 'Architects daughter';
}

#what .col-md-4 {
	background: rgba(255,255,255,1);
	border: 1px solid black;
	margin-left: 1%;
	width: 32%;
	display: flex;
	flex-direction: column;
	box-shadow: 1px 1px 3px black;
}

#what .col-md-4:last-child {
	margin-right: 1%;
}

#what .col-md-4 table {
	margin: 0 auto;
}

#what .col-md-4 p:last-child,
#what .col-md-4 table:last-child,
#what .col-md-4 div:last-child {
	margin-bottom: 20px;
}

/*
*		DEALERS section
*/

#dealer-map {
	min-height: 100vh;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

#map_canvas {
	min-height: 400px; 
	height: 100vh;
}

#dealer-map .container {
	position: absolute;
	z-index: 1;
	min-width: 300px;
	width: 100%;
}

#dealer-map .container h2 {
	margin-bottom: 0px;
}

#dealer-map .container .row {
	margin-top: 20px;
}

/*
*		FOOTER
*/

footer {
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer p {
	font-weight: bold;
	margin: 0;
}

#back-to-top a {
	color: black;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 50;
}

#back-to-top a:hover {
	color: red;
}

/*
*		GLOBAL CLASSES
*/

.white {
color: white !important;
}

.red, .red-black {
	color: #e1261c;
	font-weight: bold;
}

.red-black {
	text-shadow: 1px 1px 1px black;
	text-transform: uppercase;
}

.hide {
	display: none !important;
	padding: 0;
	margin: 0;
}

.row {
	margin: 0;
}

.fa-spin {
	width: 50%;
	margin: auto;
}

/*
*		EFFECTS
*/

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {

	button.navbar-toggle {
		background-color: black;
		margin-right: 25px;
	}

	.navbar-nav {
		width: 33%;
		margin-left: auto;
		background: white;
		margin-right: 10px;
		border: 1px solid;
		border-radius: 10px;
	}
	
	.navbar-collapse ul.nav li {
		margin-left: 10px;
		margin-right: 10px;
	}

	.navbar-nav>li:first-child {
		margin-top: 10px;
		margin-left: 10px;
	}

	.navbar-nav>li:last-child {
		margin-right: 10px;
		margin-bottom: 10px;
	}

	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
		border: none;
	}

	#home h1 {
		font-size: 4em;
	}

	#home p {
		font-size: 2em;
	}

	#home p.bottom-right-corner {
		font-size: 1em;
	}

	.jumbotron .bottom-right-corner {
		bottom: -20px;
	}

	.jumbotron p img {
		width: 100px;
	}

	#what .col-md-4 {
		margin: 1% 1%;
		width: 98%;
	}

	#what .col-md-4:last-child {
		margin-right: 1%;
	}

	#what .row:first-child .col-md-4 {
		margin-left: 1%;
	}

}


/* Small devices (tablets, 768px and up) */
@media (max-width: 991px) {

	video {
		width: initial;
		height: 100vh;;
	}

	#dealer-map .container h2 {
		font-size: 40px;
	}

	#dealer-map .container i {
		font-size: 70px;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 1199px) {
	#how {
		position: absolute;
		left: 0;
		margin-left: 0;
		z-index: 10;
		width: 100%;
	}
}